* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: skyblue;
    text-align: center;
}

h1 {
    padding-top: 100px;
    margin: 0 auto 50px;
    color: white;
    text-align: center;
    font-size: 4rem;
    /* position: absolute; */
}

.calculator {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    width: 500px;
}

.wrapper-1 {
    width: 375px;
}

.wrapper-2 {
    width: 125px;
}

.btn,
.ac,
.equal {
    outline: none;
    border: 1px solid grey;
    font-size: 2rem;
}

.display {
    flex: 0 0 500px;
    background-color: rgb(17, 17, 17);
    height: 100px;
    border-radius: 20px 20px 0 0;
    color: white;
    font-size: 4rem;
    text-align: right;
    padding: 20px 20px 0 0;
    text-align: right;
    overflow: hidden;
    word-wrap: break-word;
}

.math-op {
    flex: 1 0 0;
    height: 75px;
    background-color: rgb(212, 207, 207);
}

.key,
.ac {
    flex: 0 0 125px;
    height: 75px;
}

.equal {
    flex: 0 0 125px;
    background-color: rgb(241, 99, 16);
    border-radius: 0 0 20px 0;
}

.bottom-left-radius {
    border-radius: 0 0 0 20px;
}

.btn,
.ac,
.equal {
    transition: 0.5s;
    cursor: pointer;
}

.btn:hover,
.ac:hover,
.equal:hover {
    color: white;
    opacity: 0.7;
}

.no-border {
    border: none;
}

/* Light and Dark Mode */

.toggler {
    width: 50px;
    height: 50px;
    /* background-color: red; */
    margin: 15px;
    position: absolute;
    top: 15px;
    right: 50%;
    transform: translateX(50%);
    border: 3px solid white;
    border-radius: 100%;
}

.toggler:hover {
    cursor: pointer;
}

.fas {
    padding-top: 10px;
    font-size: 1.5rem;
    color: white;
    transition: 0.5s;
}

.fas:hover {
    padding-top: 5px;
    font-size: 2rem;
}

.dark-mode {
    background-color: black;
}

.dark-mode .calculator .display {
    background-color: black;
}

.dark-mode .calculator .btn,
.dark-mode .calculator .ac {
    flex: 0 0 75px;
    border-radius: 100%;
    margin: 10px;
}

.dark-mode .calculator .equal {
    flex: 0 0 75px;
    border-radius: 20px;
    margin-left: -80px;
    height: 370px;
}

.dark-mode .calculator .display {
    flex: 0 0 370px;
}

.dark-mode .display {
    margin-top: -50px;
}

@media (max-width: 480px) {
    h1 {
        font-size: 2rem;
        padding-top: 100px;
        margin: 10px auto;
    }
}